Configuración inicial

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

spark = SparkSession.builder \
  .master('local') \
  .appName('Lemon Data Challenge') \
  .config('spark.some.config.option', 'some.value') \
  .getOrCreate()

In [3]:
rates = spark.read.csv('rates.csv', header = True)
transactions = spark.read.csv('transactions.csv', header = True)
users = spark.read.csv('users.csv', header = True)

In [4]:
rates.show()
transactions.show()
users.show()

+-------------+--------------+--------------+
|base_currency|quote_currency|         price|
+-------------+--------------+--------------+
|          UST|          USDT|    1.00000000|
|         SAND|           BTC|    0.00006944|
|         USDC|          USDT|    0.99980000|
|          UNI|           BTC|    0.00023050|
|          ADA|           ETH|    0.00032330|
|         LUNA|           ETH|    0.02965000|
|          SOL|           ETH|    0.03499000|
|          SOL|           BTC|    0.00265530|
|          SOL|          USDT|  113.31000000|
|          ETH|           BTC|    0.07587900|
|          BTC|          USDC|42663.01000000|
|          SLP|          USDT|    0.01980000|
|          DOT|           ETH|    0.00612100|
|          ETH|           DAI| 3237.70000000|
|          ADA|           BTC|    0.00002453|
|          SOL|          USDC|  113.31000000|
|         SAND|          USDT|    2.96240000|
|          AXS|           ETH|    0.01598000|
|          BTC|           DAI|42666.11000000|
|          DOT|          USDT|   19.83000000|
+-------------+--------------+--------------+
only showing top 20 rows

+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+
|                  id|user_id|       amount|state|operation_type|  transaction_type|currency|          createdat|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+
|00024dce-8d40-4ae...|3222205| 100.02000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-03-03T14:36:05|
|002da6df-ab3d-46a...|1058316|1060.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-20T22:17:37|
|0035b8cf-d08e-4a3...|3245984| 349.27000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-01-21T06:10:52|
|0078c4a7-83ec-4a7...|4430720|1440.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-16T12:52:18|
|0085edff-1129-424...|3193610| 100.00000000| DONE|         DEBIT|   CRYPTO_PURCHASE|   MONEY|2022-02-10T19:22:23|
|00ffd51e-3f84-46b...|2393552|   0.00015365| DONE|         DEBIT|       CRYPTO_SALE|     BTC|2022-02-05T13:47:21|
|0103abf2-88ab-4fe...|2695455|   0.00021889| DONE|         DEBIT|       CRYPTO_SALE|     ETH|2022-01-14T03:03:36|
|010c4654-1ed5-45b...|3873268|  35.88750000| DONE|        CREDIT|   CRYPTO_PURCHASE|     DAI|2022-03-04T00:52:03|
|011e925e-8d22-499...| 508389|1000.00000000| DONE|        CREDIT|   VIRTUAL_DEPOSIT|   MONEY|2022-03-25T03:44:02|
|01394fef-e673-45f...| 901194|1000.00000000| DONE|        CREDIT|   VIRTUAL_DEPOSIT|   MONEY|2021-11-04T22:18:18|
|013f562a-893c-435...|3655645|   0.00065334| DONE|         DEBIT|       CRYPTO_SALE|     ETH|2022-03-28T10:55:58|
|01437e23-19c5-43a...|1698242| 240.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-02T15:04:23|
|0198d43a-9477-48e...|3535546|5000.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-02-04T21:30:12|
|01b7e8d5-97ac-458...|1698242|4816.99000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-02-15T15:02:46|
|01e1a090-6647-4c9...|3172540|   0.00033036| DONE|         DEBIT|       CRYPTO_SALE|     BTC|2022-01-27T02:00:13|
|02091c5f-f720-41f...| 846713|1410.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-20T02:35:47|
|020fcc67-069c-40e...|3528924| 800.00000000| DONE|        CREDIT|   VIRTUAL_DEPOSIT|   MONEY|2022-03-09T01:44:53|
|02199138-7358-4b6...|1470385| 300.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-02-15T20:55:29|
|025a9390-196e-464...|1698242|4690.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-02-25T00:12:45|
|02602a3c-7ffd-431...|4181191|  25.00000000| DONE|         DEBIT|       CRYPTO_SALE|    USDT|2022-03-02T12:21:04|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+
only showing top 20 rows

+--------+------+----------+-------------------+
| user_id|gender| birthdate|          createdat|
+--------+------+----------+-------------------+
|12589454|     m|1994-12-28|2021-12-17T19:19:32|
|13899793|     m|2000-12-27|2021-12-23T20:46:01|
|37822327|     f|1981-04-13|2022-04-05T22:58:43|
| 9226596|     m|1992-11-13|2021-12-01T14:06:38|
| 8886810|     m|1995-04-04|2021-11-29T19:06:23|
| 1631850|     f|2000-12-13|2021-06-10T22:07:19|
|25642319|     m|1979-02-16|2022-02-15T16:22:33|
|20202088|     m|1993-10-25|2022-01-22T18:14:06|
| 9084309|     m|1992-01-20|2021-11-30T19:02:44|
|18669267|     m|1980-06-24|2022-01-15T14:42:43|
|11400676|     m|1971-10-17|2021-12-13T14:06:53|
| 6994724|     f|2000-06-30|2021-11-15T00:19:19|
|28436674|     f|1979-10-20|2022-02-28T00:05:53|
|11157038|     m|1984-05-18|2021-12-11T23:21:48|
|10202395|     m|1997-07-11|2021-12-07T01:04:45|
|27221924|     m|1999-12-23|2022-02-21T02:26:27|
|29900652|     m|1994-09-16|2022-03-04T11:58:16|
| 3764865|     f|1997-06-18|2021-09-26T14:41:26|
|28669605|     m|1982-03-20|2022-03-01T15:37:02|
|21110850|     m|2000-11-30|2022-01-26T23:42:15|
+--------+------+----------+-------------------+
only showing top 20 rows

# **CHURN**

Transacciones Febrero

In [5]:
transactions.createTempView('transacciones_feb')

In [112]:
dates = "DATE(createdat) >= '2022-02-01' AND DATE(createdat) < '2022-03-01'"
transacciones_febrero = spark.sql(f'SELECT DISTINCT(user_id) AS user_id FROM transacciones_feb WHERE {dates}')

Transacciones Marzo

In [11]:
transactions.createTempView('transacciones_mar')

In [113]:
dates = "DATE(createdat) >= '2022-03-01' AND DATE(createdat) < '2022-04-01'"
transacciones_marzo = spark.sql(f'SELECT DISTINCT(user_id) AS user_id FROM transacciones_mar WHERE {dates}')

Usuarios que realizaron transacción en Febrero pero no en Marzo

In [100]:
transacciones_febrero.createTempView('trans_feb')
transacciones_marzo.createTempView('trans_mar')

In [111]:
usuarios_churn = spark.sql("SELECT user_id FROM trans_feb WHERE user_id NOT IN (SELECT user_id FROM trans_mar)").count()
usuarios_churn

48

CHURN

In [106]:
churn = usuarios_churn / transacciones_marzo.count()
churn

0.1875

In [107]:
retencion = 1 - churn
retencion

0.8125

# **ARPU**

In [54]:
transactions.createTempView('trans')
rates.createTempView('rates')

Tomo el precio en USDT de cada moneda y lo uno a la tabla de transacciones

In [58]:
trans = spark.sql("SELECT * FROM trans AS t LEFT JOIN (SELECT base_currency, price FROM rates WHERE quote_currency = 'USDT') AS r ON t.currency = r.base_currency")
trans.show(5)

+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+
|                  id|user_id|       amount|state|operation_type|  transaction_type|currency|          createdat|base_currency|price|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+
|00024dce-8d40-4ae...|3222205| 100.02000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-03-03T14:36:05|         null| null|
|002da6df-ab3d-46a...|1058316|1060.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-20T22:17:37|         null| null|
|0035b8cf-d08e-4a3...|3245984| 349.27000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-01-21T06:10:52|         null| null|
|0078c4a7-83ec-4a7...|4430720|1440.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-16T12:52:18|         null| null|
|0085edff-1129-424...|3193610| 100.00000000| DONE|         DEBIT|   CRYPTO_PURCHASE|   MONEY|2022-02-10T19:22:23|         null| null|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+
only showing top 5 rows

In [59]:
trans = trans.withColumn('amount_usd',
        f.when((f.col('currency') == 'MONEY')|(f.col('currency') == 'DAI')|(f.col('currency') == 'USDT')|(f.col('currency') == 'UST'), f.col('amount'))
        .otherwise(trans.amount * trans.price)
        )
trans.show(5)

+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+-------------+
|                  id|user_id|       amount|state|operation_type|  transaction_type|currency|          createdat|base_currency|price|   amount_usd|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+-------------+
|00024dce-8d40-4ae...|3222205| 100.02000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-03-03T14:36:05|         null| null| 100.02000000|
|002da6df-ab3d-46a...|1058316|1060.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-20T22:17:37|         null| null|1060.00000000|
|0035b8cf-d08e-4a3...|3245984| 349.27000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-01-21T06:10:52|         null| null| 349.27000000|
|0078c4a7-83ec-4a7...|4430720|1440.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-16T12:52:18|         null| null|1440.00000000|
|0085edff-1129-424...|3193610| 100.00000000| DONE|         DEBIT|   CRYPTO_PURCHASE|   MONEY|2022-02-10T19:22:23|         null| null| 100.00000000|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+-------------+
only showing top 5 rows

Identifico los distintos tipos de transacciones para luego calcular el revenue

In [60]:
transactions_type = spark.sql("SELECT DISTINCT(transaction_type) FROM trans")
transactions_type.show()

+------------------+
|  transaction_type|
+------------------+
|LEMON_CARD_PAYMENT|
|VIRTUAL_WITHDRAWAL|
|   VIRTUAL_DEPOSIT|
|    CASH_IN_CRYPTO|
|       CRYPTO_SALE|
|       CRYPTO_SWAP|
|   CRYPTO_PURCHASE|
+------------------+

In [61]:
trans = trans.withColumn('revenue_amount',
        f.when(f.col('transaction_type') == 'CRYPTO_SWAP', trans.amount_usd * 0.01)
          .otherwise(f.when(f.col('transaction_type') == 'CRYPTO_SALE', trans.amount_usd * 0.02)
            .otherwise(f.when(f.col('transaction_type') == 'CRYPTO_PURCHASE', trans.amount_usd * 0.02)
              .otherwise(f.when(f.col('transaction_type') == 'LEMON_CARD_PAYMENT', trans.amount_usd * 0.05)
                .otherwise(0)))))
trans.show(5)

+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+-------------+-----------------+
|                  id|user_id|       amount|state|operation_type|  transaction_type|currency|          createdat|base_currency|price|   amount_usd|   revenue_amount|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+-------------+-----------------+
|00024dce-8d40-4ae...|3222205| 100.02000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-03-03T14:36:05|         null| null| 100.02000000|           2.0004|
|002da6df-ab3d-46a...|1058316|1060.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-20T22:17:37|         null| null|1060.00000000|             53.0|
|0035b8cf-d08e-4a3...|3245984| 349.27000000| DONE|        CREDIT|       CRYPTO_SALE|   MONEY|2022-01-21T06:10:52|         null| null| 349.27000000|6.985399999999999|
|0078c4a7-83ec-4a7...|4430720|1440.00000000| DONE|         DEBIT|LEMON_CARD_PAYMENT|   MONEY|2022-03-16T12:52:18|         null| null|1440.00000000|             72.0|
|0085edff-1129-424...|3193610| 100.00000000| DONE|         DEBIT|   CRYPTO_PURCHASE|   MONEY|2022-02-10T19:22:23|         null| null| 100.00000000|              2.0|
+--------------------+-------+-------------+-----+--------------+------------------+--------+-------------------+-------------+-----+-------------+-----------------+
only showing top 5 rows

Revenue y Usuarios totales

In [68]:
trans.createTempView('revenue_total')
users.createTempView('usuarios_totales')

In [75]:
revenue_total = spark.sql("SELECT SUM(revenue_amount) AS revenue_total FROM revenue_total")
revenue_total.show()

+-----------------+
|    revenue_total|
+-----------------+
|461248.0122836366|
+-----------------+

In [73]:
usuarios_totales = spark.sql("SELECT COUNT(DISTINCT(user_id)) AS usuarios_totales FROM usuarios_totales")
usuarios_totales.show()

+----------------+
|usuarios_totales|
+----------------+
|           50000|
+----------------+

ARPU

In [71]:
r_tot = revenue_total.collect()[0][0]
u_tot = usuarios_totales.collect()[0][0]

arpu = r_tot / u_tot
arpu

9.224960245672731

# **LTV**

In [72]:
LTV = arpu / churn
LTV

49.199787976921236